@model  AgeOfTotalConquest.AOTC_DomainClasses.User
@{
    ViewBag.Title = "User";
}

<h2>User</h2>
<h4>username</h4>
<h3>@Model.Username</h3>
<h4>email</h4>
<h3><@Model.Email/h3>
<h4>password</h4>
<h3>@Model.Password</h3>